<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".WhisperApp"
        android:label="Whisper"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.app.whisper.work.CancelDownloadReceiver"
            android:exported="false" />

    </application>
</manifest>
